:root {
    --green: #cbdfbd;
    --black: #212426;
    --gray: #a9aab1;
    --beige: #fdf5e6;
}

body {
    background-color: var(--beige);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 97vh;

    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}

#signature {
    text-decoration: underline;
    transition: 0.15s ease-in-out;
}

#signature:hover {
    cursor: pointer;
    color: var(--green);
}
